<div class="container">
  <div>
    <button [disabled]="true">Execute recognition</button>

    <button [disabled]="isRecording" (click)="startRecording()">Start recording</button>
    <button [disabled]="!isRecording" (click)="stopRecording()">Stop recording</button>
  </div>

  <canvas id="waveform"></canvas>

  <p [style.color]="'white'">
    {{ transcription }}
    <span style="color: red">
      {{ oldPartialText }}
    </span>
  </p>

  <div [ngStyle]="{ color: 'lightgreen', 'font-weight': 'bold' }">
    Ahora necesito eliminar el ruido en el recording.service.ts
  </div>
</div>
